html, body {
    height: 100%;
    margin: 0;
}

.card-header {
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .card-header h4 {
        padding-top: 20px;
        font-family: 'Montserrat', sans-serif;
    }

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

.card-body {
    padding: 25px;
    font-size: 1.2rem;
    color: #333;
}

.list-group-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

    .list-group-item:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

.pagination {
    justify-content: center;
}

.page-item.active .page-link {
    background-color: #28a745;
    border-color: #28a745;
}

.page-link {
    color: #28a745;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}
