<div class="d-flex me-3">
    @if (User.GetAuthentication())
    {
        <a class="btn btn-outline-success me-2" asp-controller="Events" asp-action="Created">Create Event</a>
        <a class="btn btn-outline-success" asp-controller="Events" asp-action="Index">My Events</a>
    }
</div>