<form class="d-flex me-3" asp-controller="Home" asp-action="Index" method="GET">
    <input name="name" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-custom" type="submit">Search</button>
</form>