@using EventfulPeace.Application.Events.GetSingle
@model GetSingleEventDto
@{
    ViewData["Title"] = Model.Name;
}

<div class="content container my-5">
    <h1 class="text-center mb-4">Event Details</h1>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title"><span id="event-name">@Model.Name</span></h2>
            <h5 class="card-subtitle mb-2 text-muted">Date: <span id="event-date">@Model.OccursAt</span></h5>
            <p class="card-text"><strong>Description: </strong> <span id="event-description">@Model.Description</span></p>
            <p class="card-text"><strong>Creator: </strong> <span id="event-creator">@Model.Creator.Name</span></p>
            <a class="btn btn-custom mt-3" id="join-btn">Join Event</a>
        </div>
    </div>
</div>

@section Styles {
    <lin rel="stylesheet" href="~/css/event-details.css" />
}